## Home Credit - Credit Risk Model Stability 信用風險模型穩定性
- 本次競賽的目的是預測哪些客戶更有可能拖欠貸款。評估將傾向於長期穩定的解決方案。
- 為消費金融提供者提供更可靠、更持久的方式來評估潛在客戶的違約風險。
- 資料集描述
    - 在本次比賽中，根據每個客戶可用的內部和外部資訊來預測客戶的違約情況。
    - 使用自訂指標進行評分，該指標不僅評估預測的 AUC，還考慮預測模型在測試集資料範圍內的穩定性。

In [9]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from pathlib import Path

pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

file_type = 'csv_files'

In [13]:
df_train = pd.read_csv(f'./data/Home Credit - Credit Risk Model Stability/{file_type}/train/train_base.csv')

df_test = pd.read_csv(f'./data/Home Credit - Credit Risk Model Stability/{file_type}/test/test_base.csv')

# 轉成日期格式
df_test["date_decision"] = pd.to_datetime(df_test["date_decision"]).dt.date
df_test.drop(columns=["MONTH", "WEEK_NUM"], inplace = True)

df_train["date_decision"] = pd.to_datetime(df_train["date_decision"]).dt.date
df_train.drop(columns=["MONTH", "WEEK_NUM"], inplace = True)

display(df_train.head())
display(df_test.head())

   case_id date_decision  target
0        0    2019-01-03       0
1        1    2019-01-03       0
2        2    2019-01-04       0
3        3    2019-01-03       0
4        4    2019-01-04       1

   case_id date_decision
0    57543    2020-10-06
1    57549    2020-10-06
2    57551    2020-10-06
3    57552    2020-10-07
4    57569    2020-10-06